body {
  background-color: orange
}

.nav-item {
  display: inline-block;


}

.header {
  background-image: url(../images/fondo-header-.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

.titulo {
  color: white;
  text-align: center;
}
